@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,600&display=swap');

.App
{
  font-family: 'Poppins', sans-serif;
}

.jumbotron{
    background-color: rgb(89, 89, 179);
    padding-left: 7em;
    padding-bottom: 0.1em;
    box-shadow: 0em 1em 1em #c2c2c2;
}

.display-4{
    color: white;
}





/*.summary
{
  text-align: center;
  padding:0.7em;
  border-radius: 0.5em;
  background-color: rgb(255, 0, 0) ;   to be replaced with variable 
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  box-shadow: 0em 0.2em #cecece;
  font-size: 1.6em;
  font-weight: 600 ;
}*/






.temp
{
  height: 200px;
  background-color: rgb(151, 151, 151);
}
/* can delete this one later */
